@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  outline: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  /* display: none; */
  scrollbar-color: red;
  width: 8px;
  background: linear-gradient(
    92.23deg,
    #7b56ff 21.43%,
    #6136ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
    );;
    
    
}
body::-webkit-scrollbar-thumb{
  background-color: #4b0ee4;
}
body {
  height: 100%;
  width: 100%;
  background-size: cover;
  background: linear-gradient(
    92.23deg,
    #0f0c29 21.43%,
    #302b63 50.63%,
    /* 100%, */ #406aff 117.04%
  );
  /* line-height: 1.2; */
  /* box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51); */
}

btn {
  background-color: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn {
  background-color: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
  box-shadow: 0px 4.42184px 90.23px rgba(255, 86, 246, 0.51);

}

.active{
transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
/* color: rgb(0, 191, 255); */
color: #368cee;
text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #69698d, 0 0 0.5em #4454ff,
    0 0 0.1em #8c44ff, 0 10px 3px #07a0e1;
}
.active2{
transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
background-color: #6a36ee;
text-shadow: 0 -40px 50px, 0 0 2px, 0 0 0.5em #69698d, 0 0 0.5em #826687,
    0 0 0.1em #8c44ffee, 0 2px 6px #39279e;
    padding: 1px 10px;
    border-radius: 10px;
    overflow-wrap: break-word;
}
@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  /* .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  } */
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
